${ require('templates/partials/header.html') }
  <section class="content-wrapper" id="content">
    <div>
      <section class="jumbotron-wrapper">
        <div class="jumbotron-container">
          <div class="jumbotron">
            <div class="jumbotron__main">
              <img class="jumbotron__logo d-none d-md-block" height="auto" src="${ require('img/pythonsul-logo.png') }" alt="Logo Python Sul 2019">
              <img class="jumbotron__logo d-md-none" height="100%" src="${ require('img/pythonsul-logo.png') }" alt="Logo Python Sul 2019">
              <a target="_blank" href="https://www.eventbrite.com.br/e/python-sul-2019-tickets" class="pybr-button--dark d-none d-sm-block">
                <strong>Ingressos</strong>
                <!-- <strong class="d-block">ESGOTADOS</strong> -->
              </a>
              <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdi_0LWcQbpLbr6sdfsdf/viewform" class="pybr-button--light d-none d-sm-block">
                Inscrições tutoriais
              </a>
            </div>
            <div class="jumbotron__side">
              <img class="d-none d-sm-block" width="100%" src="${ require('img/PythonSul2019-logo.svg') }" alt="de 23 a 25 de Julho de 2019 em Curitiba, Paraná">
              <img class="d-sm-none pybr-date" src="${ require('img/PythonSul2019-logo.svg') }" alt="de 23 a 25 de Julho de 2019 em Curitiba, Paraná">
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="about-wrapper">
      <a id="about" class="anchor" aria-hidden="true"></a>
      <div class="about-container">
        <div class="about">
          <article class="about__article--left">
            <header>
              <h1 class="about__article__section-title--left">
                CURITIBA / PR
              </h1>
            </header>
            <p class="about__article__body">
              Descrição da Cidade
            </p>
          </article>
          <article class="about__article--right">
            <header>
              <h1 class="about__article__section-title--right">
                O EVENTO
              </h1>
            </header>
            <p class="about__article__body">
              A conferência Python Sul é um evento regional da linguagem de programação Python, reunindo as comunidades do Rio Grande do Sul, Santa Catarina e Paraná.
              É um evento recente, sendo que a primeira edição foi realizada em 2017, e será anualmente realizada em uma cidade selecionado em um dos estados da região.
              No ano de 2019, iremos realizar a terceira edição da Python Sul em Curitiba, PR com o objetivo de promover a comunidade local e proporcionar um evento para a comunidade sul do Brasil.
            </p>
          </article>
        </div>
      </div>
    </section>
    <section class="keynotes-wrapper">
      <a id="keynotes" class="anchor" aria-hidden="true"></a>
      <div class="keynotes-container">
        <div class="keynotes">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                Keynotes
              </h1>
            </div>
          </header>
          <section class="keynotes__list">
            <!-- <article class="keynote__summary keynote-margin-spacer">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">
                  Keynoter Name
                  <div>
                    <a target="_blank" href="https://github.com/example"><i class="fab fa-github"></i></a>
                    <a target="_blank" href="https://twitter.com/example"><i class="fab fa-twitter"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/example"><i class="fab fa-linkedin"></i></a>
                    <a target="_blank" href="https://medium.com/@example"><i class="fas fa-link"></i></a>
                  </div>

                </header>
                <p class="keynote__summary__text">
                  Descrição do Keynoter
                </p>
              </div>
              <div class="keynote__summary__photo">
                <img class="keynote-img-fluid" src="${ require('img/nicolle.jpg') }" alt="Keynoter Name">

              </div>
            </article> -->

          </section>
        </div>
      </div>
    </section>
    <!-- <section class="schedule-wrapper">
      <a id="schedule" class="anchor" aria-hidden="true"></a>
      <div class="schedule-container">
        <div class="schedule">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                Programação
              </h1>
            </div>
          </header>
          <div class="schedule-body">
            <div class="btn-group-lg" role="group" aria-label="Selecione o dia">
              <button type="button" class="btn btn-primary tablink" onclick="switchToTab(event, 'day01')">
                Dia 23/07
              </button>
              <button type="button" class="btn btn-primary tablink" onclick="switchToTab(event, 'day02')">
                Dia 24/07
              </button>
              <button type="button" class="btn btn-primary tablink" onclick="switchToTab(event, 'day03')">
                Dia 25/07
              </button>
            </div>

            ${ require('templates/partials/day01.html') }
            ${ require('templates/partials/day02.html') }
            ${ require('templates/partials/day03.html') }

          </div>
        </div>
      </div>
    </section> -->
    <section class="call4papers-wrapper">
        <a id="call4papers" class="anchor" aria-hidden="true"></a>
        <div class="call4papers-container">
          <div class="call4papers">
            <header class="section-header-wrapper">
              <div class="section-header">
                <h1 class="section-title--left">
                  Chamada de trabalhos
                </h1>
              </div>
            </header>
            <div class="call4papers__body">
              Queremos você palestrando no nosso evento! Envie sua
              <a href="https://goo.gl/xN5XJc" target="_blank">Palestra</a>
              ou <a href="https://goo.gl/9AHL7F" target="_blank">Tutorial</a>
              até o dia 28 de Fevereiro!
            </div>
          </div>
        </div>
      </section>
    <section class="location-wrapper">
      <a id="location" class="anchor" aria-hidden="true"></a>
      <div class="location-container">
        <div class="location">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 class="section-title--right">
                LOCAIS
              </h1>
            </div>
          </header>
          <div class="location__info">
            <article class="location__info__article">
              <header class="article__header">
                <h1 class="article__header__title">
                  Unicuritiba
                </h1>
                <p class="article__header__subtitle">
                    Câmpus Milton Vianna Filho: R. Chile, 1.678 - Rebouças, CEP 80220-181
                </p>
              </header>
            </article>
            <div class="unicuritiba-banner">
              <img class="img-fluid" src="${ require('img/unicuritiba.jpg') }" alt="Fachada da Unicuritiba">
              <a class="unicuritiba-website" target="_blank" href="https://www.unicuritiba.edu.br">
                https://www.unicuritiba.edu.br
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="map-wrapper">
      <a id="map" class="anchor" aria-hidden="true"></a>
      <div class="map-container">
        <div class="map">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                MAPA DO EVENTO
              </h1>
            </div>
          </header>
          <article class="location__info__article">
            <header class="article__header">
              <h1 class="article__header__title">
                Unicuritiba
              </h1>
            </header>
          </article>
          <!-- <div class="softplan-banner">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113183.64191308165!2d-48.57500686133279!3d-27.562857760221057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9527389201476aad%3A0x5dc5525817a364e!2sSoftplan+Planning+and+Systems!5e0!3m2!1sen!2sbr!4v1520096553758"
              width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div> -->
        </div>
      </div>
    </section>
    <section class="sponsors-wrapper">
      <a id="sponsors" class="anchor" aria-hidden="true"></a>
      <div class="sponsors-container">
        <div class="sponsors">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 class="section-title--right">
                PATROCINADORES
              </h1>
            </div>
          </header>
          <div class="sponsors__gold" id="gold">
            <h2 class="sponsor-category-title">
              OURO
            </h2>
            <ul class="sponsors__list">
              <!-- <li class="sponsor">
                <a href="https://www.esss.co/en/" target="_blank"><img class="img-fluid" src="${ require('img/logo_esss.png') }" alt="ESSS"></a>
              </li> -->
            </ul>
          </div>
          <div class="sponsors__silver" id="silver">
            <h2 class="sponsor-category-title">
              PRATA
            </h2>
            <ul class="sponsors__list">
              <!-- <li class="sponsor">
                <a href="http://www.labcodes.com.br/" target="_blank"><img class="img-fluid" src="${ require('img/logo_labcodes.png') }" alt="Labcodes"></a>
              </li> -->
            </ul>
          </div>
          <div class="sponsors__bronze" id="bronze">
            <h2 class="sponsor-category-title">
              BRONZE
            </h2>
            <ul class="sponsors__list">
              <!-- <li class="sponsor">
                <a href="http://www.novafibratelecom.com.br/" target="_blank">
                  <img class="img-fluid" src="${ require('img/nova_fibra.png') }" alt="Nova Fibra">
                </a>
              </li> -->
            </ul>
          </div>
          <div class="sponsors__support">
            <h2 class="sponsor-category-title">
              APOIO
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a href="https://www.softplan.com.br/" target="_blank">
                  <img class="img-fluid" src="${ require('img/logo_unicuritiba.png') }" alt="Unicuritiba">
                </a>
              </li>
              <li class="sponsor">
                <a href="http://associacao.python.org.br/" target="_blank">
                  <img class="img-fluid" src="${ require('img/logo_apyb.png') }" alt="APYB - Associação Python Brasil">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsors__call-to-action">
            <h2>QUERO PATROCINAR</h2>
            <p><a class="sponsors__call-to-action__links" href="#" target="_blank">Proposta de Patrocínio</a></p>
            <p><a class="sponsors__call-to-action__links" href="https://docs.google.com/presentation/d/1DvHw4tqiKxQYebA8cqEVBG5IiUi9h0jaQFX4IcwfPRA/edit#slide=id.g288712c117_1_6" target="_blank">Sponsorship Proposal</a></p>
            <p>Ou mande um email para <a href="mailto:pythonsul@gmail.com">pythonsul@gmail.com</a></p>
          </div>
        </div>
      </div>
    </section>
  </section>
${ require('templates/partials/footer.html') }
