<div class="track tabcontent" id="day03">
  <div class="tutorials-banner">
    <span>
      <strong>&#9888</strong>
    </span>
    <span>
      Os tutoriais são gratuitos mas a organização pede que você contribua
      doando 1Kg de alimento não perecível que será doado para uma instituição
      a ser definida.
    </span>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">livre</p>
    <p class="speaker">livre</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>18:00</time></p>
    <p class="talk">Encerramento</p>
  </div>
</div>
